*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Deca', sans-serif;

}
#header .logo{
    height: 10px;
    padding-left: 2em;
    padding-top: 0.5em;
    float: left;
}
.smooth{
    scroll-behavior: smooth;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;  
}
.smooth a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;
    border: 2px solid rgb(71, 150, 25);  
    
}
.mainContainer{ 

    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-size: 1.4rem;
}

.container{
    
    justify-content: center;
    align-content: center;
    margin-top:10rem;
    text-align: center;
}


.category{
    justify-content: center;
    align-content: center;
    margin-top:16rem;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.category h2{
    padding-bottom: 5rem;
}

table, thead, tbody, th, td, tr {


}

ul.labels {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;

}
ul.labels li {
    display: inline;
    width: 150px;
    height: 150px;
}


@media (max-width: 550px){
    .container{
        flex-direction: column;
    }
    
    
}

