
.smooth{
    scroll-behavior: smooth;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;  
}
.smooth a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;
    border: 2px solid rgb(71, 150, 25);  
    
}
.heading{
    align-content: center;
    margin-bottom: 2rem;
    text-align: center;
    margin-top:2rem;
}
    

.box-top{ 
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    float:left;
    padding:20px;
    border:2px solid black;
    width: 50%;
    font-size: 20px;
}
.float-container{
    border : 3px solid #fff;
    padding:20px;
}

.box1{
    
    justify-content: center;
    align-content: center;
    margin-top:10rem;
    text-align: center;
    float:left;
    padding:20px;
    border:2px solid black;
    width: 50%;
    font-size: 20px;
}


.category{
    justify-content: center;
    align-content: center;
    margin-top:16rem;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.category h2{
    padding-bottom: 5rem;
}
.p-quote{
    background-color:  #E0E7E9;
    padding:2rem;
    width:100%;
}
.container{ 
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    font-size: 1.4rem;
}

ul.labels {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
}
ul.labels li {
    display: inline;
    width: 150px;
    height: 150px;
}


@media (max-width: 550px){
    .container{
        flex-direction: column;
    }
    
    
}

