
.smooth{
    scroll-behavior: smooth;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;  
}
.smooth a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;
    border: 2px solid rgb(71, 150, 25);  
    
}
.heading{
    align-content: center;
    margin-bottom: 2rem;
    text-align: center;
    margin-top:2rem;
}
    

.float-container{ 
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    text-align: center; 
}

.text{
    width: 60%;
    font-size: 20px;
    text-align: left;
    margin: 20px;
    padding: 50px;
}
.labelHeading{
    text-align: center;
    text-transform: uppercase;
    
}
.image{
    display: block;
    width: 40%;
     
}
.appstore{
    height: auto;
    bottom: 50px;
    display: block;
    width: 100%;
    margin-bottom: 15rem;
    margin-top: 15rem;
    text-align: center;
    
}
.p-quote{
    background-color:  #E0E7E9;
    padding:2rem;
    width:100%;
}


ul.labels {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    width: 100%;
    overflow-x: auto;
    margin-top:2rem;
    
}
