

.container{
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #354649;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    text-align: center;
}
    
.kontaktskjema{
    background-color: #E0E7E9;
    border-radius: 25px;
    height: auto;
    width: 45%;
    color: #354649;
    height: auto;
    flex: 40%;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.kontaktskjema h1{
    margin-bottom: 20px;

    
}

.kontaktskjema-txt{
    width: 100%;
    height: 40px;
    color: #354649;
    border: 1px solid #354649; 
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    
}
.kontaktskjema-txt::placeholder{
    color: #aaa;
}
.kontaktskjema-textarea{
    width: 100%;
    height: 100px;
    color: black;
    border: 1px solid #354649; 
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    
}
/*Styling av text inne i meldingsboksen*/
.kontaktskjema-textarea::placeholder{
    color: #aaa;
}
/*Styling av send inn knappen*/
.kontaktskjema-btn{
    min-width: 50%;
    border: none;
    outline: none;
    border-radius: 50px;
    background:#354649;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    
}
/*Styling av knapp når musepeker hover*/
.kontaktskjema-btn:hover{
    color: white;
    background-color: black;
}
.info{
    padding-top: 60px;
}

@media (max-width: 900px){
    .kontaktskjema {
        flex-direction: column;
        width: 50%;
    }
    .logo img{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

}
