*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
#header .logo{
    height: 10px;
    padding-left: 2em;
    padding-top: 0.5em;
    float: left;
    
  
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 50px;
    color: #354649;
}
    
.kontaktskjema{
    width: 35%;
    color: #354649;
    height: auto;
    flex: 40%;
    padding: 30px;
    text-align: center;
}
.kontaktskjema h1{
    margin-bottom: 20px;

    
}

.kontaktskjema-txt{
    width: 100%;
    height: 40px;
    color: #354649;
    border: 1px solid #354649; 
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    
}
.kontaktskjema-txt::placeholder{
    color: #aaa;
}
.kontaktskjema-textarea{
    width: 100%;
    height: 100px;
    color: black;
    border: 1px solid #354649; 
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    
}
/*Styling av text inne i meldingsboksen*/
.kontaktskjema-textarea::placeholder{
    color: #aaa;
}
/*Styling av send inn knappen*/
.kontaktskjema-btn{
    min-width: 50%;
    border: none;
    outline: none;
    border-radius: 50px;
    background:#354649;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    
}
/*Styling av knapp når musepeker hover*/
.kontaktskjema-btn:hover{
    color: white;
    background-color: black;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;

}
.navbar-links {
    margin: 0;
    padding: 1em;
    list-style-type: square;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: white;


}
li{

    display: inline-block;
    padding-left: 0;
    text-align: left;


}
.navbar-links ul li{
    margin: 0 0;
    padding: 5px;


}
.navbar-links ul{
    display: inline-block;
    padding-left: 0;
    text-align: left;

}

.navbar-links ul li a{

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 5px 20px;
    /*border: 2px solid rgb(71, 150, 25);*/

}

.navbar-links ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}

.navbar-links ul li a:hover::after{
    width: 100%;
    background-color: #354649;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
    
}
@media (max-width: 900px){
    .container {
        flex-direction: column;
    }
    .logo img{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

}
