
.subcontent{
    background-color: #E0E7E9;
}

.smooth{
    scroll-behavior: smooth;
    text-transform: uppercase;
    position: relative;
    color: #354649;;
    padding: 5px 20px;  
    width: 100%;
    bottom: 80px;
    padding-bottom: 60px;

}
.smooth a{
    
    height: auto;
    width: 10%;
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 5px 20px;
    border-radius: 5px;
    

}
.smooth a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
.smooth a:hover::after{
    width: 100%;
    
    background-color: #354649;
}
.container{
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    text-align: center;
}
.text{
    width: 50%;
    display: block;
    text-align: center;
    padding: 80px;

    
} 

.texten,
.texten p a{
    font-size: 20px;
    text-decoration: none;
    
}
.container img{
    display: block;
    min-width: 100px;
    max-width: 100%;
    padding-top: 50px;  
}

h2{
    padding-bottom: 50px;
    text-transform: uppercase;
    text-decoration: #354649;;
    color: #354649;
    text-align: center;
}
.buttonClass{
    align-items: center;
    text-align: center;
    color: #354649;
    margin-top: 40px;
    
    
}
.buttonClass a{

   
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #354649;
    color: #fff;
    padding: 5px 20px;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0.2px solid #354649;
    box-shadow: 2px 0px 2px 0 #354649;
}



@media (max-width: 900px) {
    
    .container {
        flex-direction: column;
        padding-top: 120px;
        height: auto;
        width: 100%;
    }

    .container img {
        max-width: 300px;
        flex-direction: column;
    }
    .text{
        width: 100%;
    }

    .logo img {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .smooth a {
        width: 30%;
        padding-top: 50px;
        
    }
}

   
    
    











