*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    line-height: 1.5;
}
#header .logo{
    height: 10px;
    padding-left: 2em;
    padding-top: 0.5em;
    float: left;
    
  
}
.smooth{
    scroll-behavior: smooth;
    text-transform: uppercase;
    position: relative;
    color: #354649;;
    padding: 5px 20px;  width: 100%;
    bottom: 80px;
    padding-bottom: 60px;
}
.smooth a{
    height: auto;
    width: 10%;
    display: block;
    text-align: center;
    margin: auto;
    z-index: 2;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #354649;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    
    
}
.smooth a{

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #6C7A89;
    padding: 5px 20px;
    border: 0.2px solid ;
    box-shadow: 2px 0px 2px 0 #354649;
    

}
.smooth a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
.smooth a:hover::after{
    width: 100%;
    background-color: #354649;
}
.container{
    height: 100vh;
    width: 100%;
    color: black;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    text-align: center;
}
.text{
    width: 50%;
    display: block;
    text-align: left;
    padding: 80px;
}
.container img{
    display: block;
    min-width: 100px;
    max-width: 100%;
    border-radius: 10px;
    padding: 40px;
}

h2{
    padding-bottom: 50px;
    text-transform: uppercase;
    text-decoration: #354649;;
    color: #354649;
    text-align: center;
}
.buttonClass{
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 40px;
    
    
}
.buttonClass a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 5px 20px;
    text-transform: capitalize;
    border: 0.2px solid ;
    box-shadow: 2px 0px 2px 0 #354649;
    
}
.buttonClass a{

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 5px 20px;
    /*border: 2px solid rgb(71, 150, 25);*/

}
.buttonClass a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
.buttonClass a:hover::after{
    width: 100%;
    background-color: #354649;
}


/*<!-- Navbar CSS start -->*/
@media (max-width: 900px) {
    .container {
        flex-direction: column;
        margin-top: 120px;
        height: auto;
        width: 100%;
    }

    .container img {
        max-width: 300px;
        flex-direction: column;
    }
    .text{
        width: 100%;
    }

    .logo img {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .smooth a {
        width: 40%;
    }
}

   
    
    











