
.smooth{
    scroll-behavior: smooth;
    text-transform: uppercase;
    position: relative;
    color: #354649;;
    padding: 5px 20px;  
    width: 100%;
    bottom: 40px;
    
}
.smooth a{
    
    height: auto;
    width: 10%;
    display: block;
    text-align: center;
    margin: auto;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 60px 20px;
    /*border: 0.2px solid #354649;
    box-shadow: 2px 0px 2px 0 #354649;*/
    border-radius: 5px;
    
}

/*Dette er min jon sin css fil den innheholder noen bilder, 3 sectios og noen classes */

#topsection{
    width: 100%;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    
}
#secondaryContent{
    width: 100%;
    
    display:flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    background-color: #E0E7E9;
    justify-content: center;
    align-items: center;
}

#thirdcontent{
  width: 100%;

  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4vw;
}
.column {
    float: right;
    width: 33%;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top:1rem;
    margin-bottom:1rem;
  }
  .column > img{
      height: 100%;
      width: 80%;
      border-radius: 5px;

  }
  .row::after {
    height:auto;
    justify-content: center;
    align-items: center;
    content: "";
    clear: both;
  }

  .text{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: block;
    width: 70%;
  }
  .text ul{
      display: inline-block;
      padding-left: 5px;
      text-align: left;
      list-style: square;
  }
  
  h2{
      margin: 0vw 0vw 4vw 0vw;
      text-transform: uppercase;
      text-align: left;
      text-decoration: #354649;;
      color: #354649;
      text-align: center;
    
  }
  h4{
      text-align: center;
      color: #354649;

  }
  .list{
      line-height: 1.5;
      padding: 1px;
  }
  
  .buttonClass{
    
      max-width: 20%;
      align-items: center;
      color: white;
      background-color: grey;
      border-radius: 40px;
      font-size: 2vh;
      padding: 20px;
      text-align: center;
  }
  .buttonClass a{
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      font-family: arial;
  } 
@media  (max-width:900px){
    #thirdcontent{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
   

    #secondaryContent{
        flex-direction: column;
        height: auto;
    }
    .row{
        flex-direction: column;
    }
    #topsection{
        flex-direction: column;
        height: auto;
    }
    .thirdcontent{
        text-align: center;
        height: auto;
    }
    .column > img{
        width: 100%;
        height:auto;

    }
    .logo img{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .smooth a {
        width: 40%;
    }

    
}
@media  (max-width:550px){
    #thirdcontent{
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .row{
        flex-direction: column;
        height: auto;
    }
    #topsection{
        flex-direction: column;
        height: auto;
    }
    .column > img{
        width: 100%;

    }
    .logo img{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .smooth a {
        width: 40%;
    }

    
}