*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 2px;
    line-height: 1.3;
}
#header .logo{
    height: 10px;
    padding-left: 2em;
    padding-top: 0.5em;
    float: left;
}
.maindisplay{
  flex:column;
  justify-content: space-around;
  align-items: center;
}
/*Dette er min jon sin css fil den innheholder noen bilder, 3 sectios og noen classes */

#topsection{
    width: 100%;
    background-color: white;
    font-size:1.4rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vw;
}
#secondaryContent{
    width: 100%;
    font-size:1.4rem;
    display:flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}

#thirdcontent{
  width: 100%;
  background-color: white;
  font-size:1.4rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4vw;
}
.column {
    float: right;
    width: 33%;
    padding: 5px;
    display: flex;
    justify-content: center;
  }
  .column > img{
      width: 80%;

  }
  .row::after {
    height:auto;
    justify-content: center;
    align-items: center;
    content: "";
    clear: both;
  }

  .text{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: block;
    width: 70%;
  }
  .text ul{
      display: inline-block;
      padding-left: 5px;
      text-align: left;
      /*text-decoration: solid;*/
      list-style: square;
  }
  
  h2{
      margin: 0vw 0vw 4vw 0vw;
      text-transform: uppercase;
      text-align: left;
      text-decoration: #354649;;
      color: #354649;
      text-align: center;
      font-size: 2rem;
  }
  h4{
      text-align: center;
      color: #354649;

  }
  .list{
      line-height: 1.5;

  }
  
  .buttonClass{
      margin-top: 30px;
      max-width: 20%;
      align-items: center;
      color: white;
      background-color: grey;
      border-radius: 40px;
      font-size: 2vh;
      padding: 20px;
      text-align: center;
  }
  .buttonClass a{
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      font-family: arial;
  } 
@media screen and (max-width:800px){
    #secondaryContent{
        flex-direction: column;
    }
    .row{
        flex-direction: column;
    }
    #topsection{
        margin-top:6vw;
    }
    .column > img{
        width: 100%;

    }
}
  
  .responsible{
      width: 100%;
    
  }
  .responsible > img{
width: 5vw;;
border: 0.2vw solid black;
border-radius: 1vw;
  }


  
  /*End av jon */




    


/*problem.html classes*/


/*Navbar CSS content*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;

}
.navbar-links {
    margin: 0;
    padding: 1em;
    list-style-type: square;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: white;


}
li{

    display: inline-block;
    padding-left: 0;
    text-align: left;


}
.navbar-links ul li{
    margin: 0 0;
    padding: 5px;


}
.navbar-links ul{
    display: inline-block;
    padding-left: 0;
    text-align: left;

}

.navbar-links ul li a{

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 5px 20px;
    /*border: 2px solid rgb(71, 150, 25);*/

}

.navbar-links ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}

.navbar-links ul li a:hover::after{
    width: 100%;
    background-color: #354649;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
    
}

@media (max-width: 900px){
    .container{
        flex-direction: column;
        margin-top: 120px;
        height: auto;
    }
    .container img{
        max-width: 300px;
        flex-direction: column;
    }
    .logo img{
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .smooth{
        position: relative;
        top: 60px;
        left: -8%;
    
    }

   
    
    
}

