*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    letter-spacing: 2px;
    
}
#header .logo{
    height: 10px;
    padding-left: 2em;
    padding-top: 0.5em;
    float: left;
}
.smooth{
    scroll-behavior: smooth;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;  
}
.smooth a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(71, 150, 25);;
    padding: 5px 20px;
    border: 2px solid rgb(71, 150, 25);  
    
}
.container{ 
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
    font-size: 1.4rem;
}
.text{
    width:70%;
    display: block;
    text-align: center ;
    
}
h2{
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: #354649;;
    color: #354649;
    text-align: center;
}
.buttonClass{
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 50px;
    
}
.buttonClass a{
    background-color: #354649;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    padding: 5px 20px;
    border: 1px solid black;
    text-transform: capitalize;
    
}




@media (max-width: 550px){
    .container{
        flex-direction: column;
    }
    
}



