*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:white;
    margin:0px;
    letter-spacing: 2px;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;   
}
#header{
    background-color: #E0E7E9;
}
#header .logo{
    height: 10px;
    padding-left: 2em;
    padding-top: 0.5em;
    float: left;
}

/*<-------NAVBAR------>*/
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
}
.navbar-links {
    margin: 0;
    padding: 1em;
    list-style-type: square;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #E0E7E9 ;
}
li{
    display: inline-block;
    padding-left: 0;
    text-align: left;
}
.navbar-links ul li{
    margin: 0 0;
    padding: 5px;
}
.navbar-links ul{
    display: inline-block;
    padding-left: 0;
    text-align: left;
}

.navbar-links ul li a{

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 5px 20px;
}

.navbar-links ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}

.navbar-links ul li a:hover::after{
    width: 100%;
    background-color: #354649;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        margin-top: 120px;
        height: auto;
    }

    .container img {
        max-width: 300px;
        flex-direction: column;
    }

    .logo img {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .smooth {
        top: 30px;
        bottom: 20px;
    }
}
/*<--------------------Source menu---------------------->*/

#sourceheader{
    background-color: rgb(255, 255, 255);
    margin-top: 3vw;
}
.info__btn a{
    color: #354649;
    background-color: #fff;
    font-size: 1rem;
    padding: 1vw;
    border-radius: 5px;
}
.sourceHead_links{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.sourceHead_links ul{
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
}
.sourceHead_links ul li {
    padding: 0.7em;
    margin: 1.5em;
    text-align: center;
}
.sourceHead_links ul li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
}
.sourceHead_links ul li a{    
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #354649;
    padding: 5px 20px;
}
.sourceHead_links ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
.sourceHead_links ul li a:hover::after{
    width: 100%;
    background-color: #354649;
}

/*<--------------------Styles div elements---------------------->*/

#sourcecontent{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #354649;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#termscontent{
    width: 70%;
    background-color: white;
    color: #354649;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.generic {
    width: 100%;
    margin: -1vw 2vw 2vw 2vw;
    background-color: rgb(255, 255, 255);
    color: #354649;
}
.generic2 {
    margin: 4vw 0vw 3.7vw 0vw;
    background-color: rgb(255, 255, 255);
}

.generic p,
.generic2 p,
.generic2 ul,
.generic ul{
    font-size: 1.3em;
    line-height: 1.5;
    letter-spacing: 2px;
    border-bottom: 1px #354649;
}
.generic ul li a,
.generic2 ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0)
}

.generic h2,
.generic2 h2{
    display: inline-block;
    margin: 0vw 0vw 2vw 0vw;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    font-size: 2rem;
}
.generic ul
.generic2 ul{
    padding: 0vw 0vw 0vw 2vw;
}

.smallHead{
    margin: 2vw;
    font-weight: bold;
}
.img-responsive{
    max-width: 100%;
    height: auto;
    margin: 2vw;
}
.content{
    margin: 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #E0E7E9;
    color: #354649;
    border-radius: 10px;
}
.content__left ul{
  line-height: 2;
  margin: 2vw;
}
.content__left p a{
    text-decoration: none;
}
.content__right{
    text-align: center;
    padding-bottom: 2vw;
    border-left: 1px solid #354649;

}

/*<----------FOOTER------>*/

#footer{
    background-color: #354649;
}

.footer_links{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.footer_links div{
    height: 100%;
    margin: auto;
}
.footer_links a{
    transition: all 0.3s ease 0s;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
}
.footer_links a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}
.footer_links a:hover::after{
    width: 100%;
    background-color: #fff;
}

.logo{
    text-align: center;
}
.sources {
    background-color: #eee;
    margin: auto;
    padding: 1.3vw;
}
.sources a{
    color: #fff;
}
.logo1{
    max-width: 100%;

}
.logo1 a{
    text-decoration: none;
    list-style: none;
    max-width: 100%;
    height: auto;
}

/*NAVBAR Media*/
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}