*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color: black;
    color: black;
    background-color:white;
    margin:0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    
}

#maincontent{
    height: 100vh;
    background-color: white;
    font-size:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px 0 solid black;
    text-align: center;

}
#termscontent{
    width: 70%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.generic {
    margin: 8vh 0vh 8vh 0vh;
}

.generic p,
.generic ul{
    font-size: 1.3em;
    line-height: 1.5;
    letter-spacing: 2px;
}

.generic h2{
    margin: 0vw 0vw 4vw 0vw;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    font-family: "Helvetica";
    font-size: 2rem;
}

.generic ul{
    padding: 0vw 0vw 0vw 2vw;
}

.liste{
    list-style-type: circle black;
}

.smallHead{
    font-weight: bold;
    padding: 2vw 0vw 2vw 0vw; 
}

.text{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#subcontent{
    width: 100%;
    height: 100vh;
    display:flex;
    font-size: 1vw;
    text-align: center;;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

.container{
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;
}

.buttonClass{
    margin-top: 30px;
    max-width: 20%;
    align-items: center;
    color: white;
    background-color: grey;
    border-radius: 40px;
    font-size: 2vh;
    padding: 20px;
    

}
.buttonClass a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: arial;
    justify-content: center;
}
    





/*Navbar CSS content*/

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 60px;
    font-size: 0.7rem;
    mix-blend-mode: luminosity;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgrey;
    font-family: arial;
   
} 

.navbar-links {
    margin: 0;
    padding: 1em;
    list-style-type: square;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: lightgrey;
    

}
li{
    
    display: inline-block;
    padding-left: 0;
    text-align: left;
    
   
}
.navbar-links ul li{
    margin: 0 0;
    padding: 5px;
    

}
.navbar-links ul{
    display: inline-block;
    padding-left: 0;
    text-align: left;
    
}

.navbar-links ul li a{
    
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
    padding: 5px 20px;
    border: 1px solid black;

}

.navbar-links ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}

.navbar-links ul li a:hover::after{
    width: 100%;
    background-color: white;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/*Navbar CSS content*/



/*<!-- Footer content CSS -->*/
#footer{
    border-top: 1px solid black;
    background-color: #264348;
}

.footer_links{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer_links ul{
    display: inline-block;
    padding: 2vw;
    text-align: center;
}
.footer_links ul li {
    padding: 1em;
    margin: 2em;
    text-align: center;
}
.footer_links ul li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
}

.sources {
    background-color: #fff;
    border-radius: 25px;
}
.sources a{
    color: #264348;
}
.terms {
    border-radius: 25px;
}
.terms a{
    color: #fff;
}
.logo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
.logo a{
    color: #fff;
}

/*<!-- Media queries for navbar*/

.footer ul{
    margin: auto;
    width: 20%;    
}
.sources p{
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.terms p{
    background-color: rgb(37, 141, 127);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
-->.footer div{
    margin: auto;
    width: 20%;    
}
.sources p{
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.terms p{
    background-color: rgb(37, 141, 127);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
-->.footer div{
    margin: auto;
    width: 20%;    
}
.sources p{
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.terms p{
    background-color: rgb(37, 141, 127);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
-->
