<<<<<<< Updated upstream

=======
body{
    color: black;
    color: black;
    background-color:white;
    margin:0px;
    scroll-behavior: smooth;
    font-family: "lexendDeca","sans serif";

}
.maindisplay{
  flex:column;
  justify-content: space-around;
  align-items: center;
}
>>>>>>> Stashed changes
#topsection{
    width: 100%;
    background-color: white;
    font-size:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}
#secondarycontent{
    width: 100%;
    background-color: white;
    font-size:1vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}
<<<<<<< Updated upstream
.column {
    background-color: blue;
    float: left;
    width: 33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
=======
#thirdcontent{
  width: 100%;
  background-color: white;
  font-size:1vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
}
.column {
    background-color: blue;
    float: right;
    width: 33%;
    padding: 5px;
    display: flex;
    justify-content: center;
  }


  .row::after {
    height:auto;
    justify-content: center;
    align-items: center;
    content: "";
    clear: both;

>>>>>>> Stashed changes
  }
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color: black;
    color: black;
    background-color: #ca12a2bb (121, 77, 0.836);
    margin:0px;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

}
#termscontent{
    width: 70%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.generic {
    margin: 8vh 0vh 8vh 0vh;
}

.generic p,
.generic ul{
    font-size: 1.3em;
    line-height: 1.5;
    letter-spacing: 2px;
}

.generic ul{
    padding: 0vw 0vw 0vw 2vw;
}

.liste{
    list-style-type: circle black;
}

.smallHead{
    font-weight: bold;
    padding: 2vw 0vw 2vw 0vw;
}

.text{
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 1.5vw;
  justify-content: center;
  align-items: center;
  text-align: center;


}
@@media (max width : 600px) {
  .text{
    font-size: 10vw;
  }
}

h2{
    margin: 0vw 0vw 4vw 0vw;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    font-family: "Helvetica";
    font-size: 2rem;
}
h3{
  margin: 0vw 0vw 4vw 0vw;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  font-size: 2rem;
}


.buttonClass{
    margin-top: 30px;
    max-width: 20%;
    align-items: center;
    color: white;
    background-color: grey;
    border-radius: 40px;
    font-size: 2vh;
    padding: 20px;
    text-align: center;
}
.buttonClass a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: arial;
}


#subcontent{
    width: 100%;
    height: 100vh;
    display:flex;
    font-size: 1vw;
    text-align: center;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(211, 205, 205);
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

/*problem.html classes*/


/*Navbar CSS content*/

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 60px;
    font-size: 0.7rem;
    mix-blend-mode: luminosity;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(211, 205, 205);
    font-family: arial;

}

.navbar-links {
    margin: 0;
    padding: 1em;
    list-style-type: square;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #2d3436;


}
li{

    display: inline-block;
    padding-left: 0;
    text-align: left;


}
.navbar-links ul li{
    margin: 0 0;
    padding: 5px;


}
.navbar-links ul{
    display: inline-block;
    padding-left: 0;
    text-align: left;

}

.navbar-links ul li a{

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;

}

.navbar-links ul li a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}

.navbar-links ul li a:hover::after{
    width: 100%;
    background-color: white;

}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

#maincontent{
    background-color: rgb(211, 205, 205);
    padding:1vw;
    font-size:1vw;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: dimgray;

}
.content{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container h1{
    margin: 0;
}
.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: #333;
}
.text{
    padding: 20px;
    text-align: center;

}
.button{
    min-width: 50%;
    max-width: 60%;
    border: none;
    outline: none;
    border-radius: 50px;
    background:#333;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 1vw;

}
.buttonClass{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*Navbar CSS content*/



/*<!-- Footer content CSS -->*/
#footer{
    border-top: 1px solid black;
    background-color: #264348;
}

.footer_links{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}
.footer_links ul{
    display: inline-block;
    padding: 2vw;
    text-align: center;
}
.footer_links ul li {
    padding: 1em;
    margin: 2em;
    text-align: center;
}
.footer_links ul li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    text-transform: uppercase;
}

.sources {
    background-color: #fff;
    border-radius: 25px;
}
.sources a{
    color: #264348;
}
.terms {
    border-radius: 25px;
}
.terms a{
    color: #fff;
}
.logo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.logo a{
    color: #fff;
}

/*<!-- Media queries for navbar*/

.footer ul{
    margin: auto;
    width: 20%;
}
.sources p{
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.terms p{
    background-color: rgb(37, 141, 127);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
-->.footer div{
    margin: auto;
    width: 20%;
}
.sources p{
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.terms p{
    background-color: rgb(37, 141, 127);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
-->.footer div{
    margin: auto;
    width: 20%;
}
.sources p{
    background-color: rgb(255, 115, 0);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.terms p{
    background-color: rgb(37, 141, 127);
    color: white;
    text-align: center;
    border-radius: 25px;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
-->
